nav {
  background-color: #585a56;
  -webkit-box-shadow: 0 4px 9px rgba(0, 0, 0, .3);
}

.navbar .navbar-brand {
    color: #fafafa;
    font-family: "Lato","Helvetica Neue",Arial,sans-serif;
}

.nav-link {
  color: #fafafa !important;
  font-family: Cambria, Georgia;
}

.dropdown-menu {
  right: 0;
  left: auto !important;
}

i {
  width: 18px;
  font-size: 16px;
  margin-right: 5px;
}
