<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="/timeline">
    <img src="http://localhost:8000/static/icon.png" width="30" height="30" alt="">
  </a>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown ml-auto">
      <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img class="rounded-circle" src="{{ user.image_url }}" style="height: 30px; padding-right: 4px;">
        {{ user.first_name }}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="/add_post">
          <i class="fa fa-plus-circle fa-fw" style="width: 18px; font-size: 16px; margin-right: 5px;"></i> Add Post
        </a>
        <a class="dropdown-item" (click)="logout()" href="/">
          <i class="fa fa-sign-out fa-fw" style="width: 18px; font-size: 16px; margin-right: 5px;"></i> Logout
        </a>
      </div>
    </li>
  </ul>
</nav>
