/* PostComponent's private CSS styles */
label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.polaroid {
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
}

.polaroid img {
  display: block;
  width: inherit;
}

@media screen and (max-width: 799px) {
  .card-width {
    width: 100%;
  }
  .px-4 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
  .pt-4 {
    padding-top: 0.5rem !important;
  }
}

@media screen and (min-width: 800px) {
  .card-width {
    width: 700px;
  }
}

.date-of-event {
  white-space: pre-wrap;
  font-size: 0.9rem;
}

.post-writer {
  font-size: 0.85rem;
}

#content p.showContent {
  display: block;
}

#content p.hideContent {
  display: block;
  height: 50px !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}
